<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pokédex</title>
  <link rel="stylesheet" href="/style/output.css">
</head>
<body class="bg-gradient-to-r from-red-500 to-white  text-gray-900 min-h-screen flex flex-col items-center">
  <h1 class="text-4xl text-black font-bold my-8">My Pokédex</h1>
  
  <div id="collection-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full px-8">
  </div>
  <div class="text-center mt-8">
    <a href="/" class="text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">Back to Home</a>
  </div>
  <script src="/collection.js"></script>
</body>
</html>
