<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokédex Manager</title>
  <link rel="stylesheet" href="/style/output.css">
</head>
<body class="bg-red-800 bg-center bg-contain min-h-screen flex items-center justify-center" style="background-image: url('https://cdn.pixabay.com/photo/2016/08/15/00/50/pokeball-1594373_640.png');">
    <div class="bg-white bg-opacity-90 p-8 rounded-lg shadow-2xl text-center">
      <h1 class="text-5xl font-bold text-red-800 mb-4">Pokédex Manager</h1>
      <p class="text-xl text-gray-700 mb-8">Discover, collect, and manage your favorite Pokémon!</p>
      <a href="/login" class="bg-red-800 text-white hover:bg-red-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Gotta Catch 'Em All</a>
    </div>
  </body>
  </html>
